@font-face {
    font-family: 'poppins';
    src: url('fonts/poppins/poppins-regular.eot');
    src: url('fonts/poppins/poppins-regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/poppins/poppins-regular.woff2') format('woff2'),
        url('fonts/poppins/poppins-regular.woff') format('woff'),
        url('fonts/poppins/poppins-regular.ttf') format('truetype'),
        url('fonts/poppins/poppins-regular.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins/poppins-bold.eot');
    src: url('fonts/poppins/poppins-bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/poppins/poppins-bold.woff2') format('woff2'),
        url('fonts/poppins/poppins-bold.woff') format('woff'),
        url('fonts/poppins/poppins-bold.ttf') format('truetype'),
        url('fonts/poppins/poppins-bold.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}