html {
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-y: auto;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'poppins';
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	transition: all 0.4s ease;
}

select,
map,
area,
a,
button {
	border: 0px;
	outline: none;
}

option {
	padding: 10px;
	font-size: 15px;
	color: #222;
	font-family: inherit;
}

img {
	border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

input[type="text"],
input[type="password"],
textarea {
	text-align: left;
	font-family: inherit;
}

input,
textarea,
select {
	border: 0;
	outline: none;
	line-height: normal;
	-webkit-appearance: none;
	border-radius: 0;
	font-family: inherit;
}

textarea {
	resize: none;
}

.loading {
	position: relative;
	pointer-events: none;
	opacity: 0.6;
}

.loading:before {
	content: '';
	position: absolute;
	border: 3px solid #00000029;
	border-top: 3px solid #000;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: spin 2s linear infinite;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

.loading_left {
	position: relative;
	pointer-events: none;
}

.loading_left:after {
	content: '';
	position: absolute;
	border: 3px solid #fff;
	border-top: 3px solid #000;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: spin 2s linear infinite;
	top: 50%;
	right: 0;
	margin-top: -10px;
	margin-right: 25px;
}

.loading_left:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(0 0 0 / 90%);
	opacity: 0.5;
}

.loading_content {
	position: relative;
	pointer-events: none;
	opacity: 0.6;
}

.loading_content:after {
	content: '';
	position: absolute;
	border: 3px solid #fff;
	border-top: 3px solid #007aff;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: spin 2s linear infinite;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	z-index: 23;
}

.loading_content:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(0 0 0 / 90%);
	opacity: 0.5;
	z-index: 22;
	border-radius: 50px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.thank {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.thank {
	overflow: hidden;
	white-space: nowrap;
	background: linear-gradient(106.11deg, #0082FF 0.83%, #003DFF 99.42%);
	white-space: nowrap;
	z-index: 10;
	display: none;
	text-align: center;
	color: #fff;
	letter-spacing: .05em;
}

.thank:after {
	content: "";
	vertical-align: middle;
	display: inline-block;
	width: 1px;
	height: 100%;
}

.error .thank {
	background: #ff0000;
}

.thank span {
	display: inline-block;
	width: 100%;
	white-space: normal;
	padding: 10px 15px;
	vertical-align: middle;
}

input[type="password"]::-ms-reveal {
	display: none;
}

.bg_image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url() no-repeat 50% 50%;
	overflow: hidden;
	background-size: cover;
}

.viewport {
	overflow: hidden;
}

.viewport.lock {
	position: fixed;
	width: 100%;
	left: 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video-overlay:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}