:root {
    --primary-color: #111111;
    --secondary-color: #888;
    --button-color: #2FA84F;
    --max-width: 1320px;
    --border-color: #e6e6e6;
    --total-price: rgb(47 168 79 / 60%);
}

.order_contanier {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 60px;
}

.product_search {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px
}

.product_search_title {
    font-size: 40px;
}

.product_search_desc {
    margin-top: 5px;
    color: var(--secondary-color)
}

.product_search_form {
    margin-top: 10px
}

.search_box {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    outline: none;
}

.product_cat_filter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product_cat_filter_left {
    width: 75%;
}

.cat_tabs {
    margin: 25px 0;
    display: flex;
    gap: 12px;
    flex-direction: row;
    /* white-space: nowrap; */
}

.product_cat_filter_right {
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product_cat_filter_right>* {
    margin-left: 10px
}

.loading {
    position: relative;
    pointer-events: none;
    opacity: 0.6;
}

.loading:before {
    content: '';
    position: absolute;
    border: 3px solid #00000029;
    border-top: 3px solid #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.swiper-slide.tab {
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    font-weight: 600;
    width: auto;
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color .4s, color .4s;
}

.swiper-slide.tab:hover {
    background-color: var(--button-color);
    color: #fff;
}

.swiper-slide.tab.active {
    background: var(--button-color);
    color: white;
    border-color: var(--button-color);
}

.list_view,
.grid_view {
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    transition: background-color .4s, color .4s;
}

.list_view i,
.grid_view i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list_view:hover,
.grid_view:hover {
    background-color: var(--button-color);
    color: #fff;
}

.list_view.active,
.grid_view.active {
    background-color: var(--button-color);
    color: white;
    border-color: var(--button-color);
}

.product_filter {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    position: relative;
    background-color: transparent;
    z-index: 9;
}

.product_list {
    font-size: 0;
}

.product_list ._col {
    margin-top: 20px
}

.product_list ._row {
    margin: -20px -10px 0 -10px;
}


._col {
    display: inline-block;
    padding: 0 10px;
}

._col_4 {
    width: 33.33%;
}

.product_image {
    position: relative;
}

.product_con {
    background-color: #fff;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.probgCon {
    background: url() no-repeat 50% 50%;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.probgimage {
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 100%;
    height: 170px;
    object-fit: contain;
}

.product_content {
    padding: 10px;
}

.product_title {
    font-size: 17px;
    color: var(--primary-color);
    width: 150px;
}

.product_desc {
    font-size: 14px;
    color: var(--secondary-color);
    margin-top: 10px;
}

.product_price_group {
    display: flex;
    justify-content: space-between;
}

.product_total_price {
    font-size: 18px;
    background-color: var(--total-price);
    padding: 5px 35px 3px 35px;
    line-height: 1.3;
    border-radius: 5px;
}

.product_price {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.old_price {
    text-decoration: line-through;
    color: #aaa;
    font-size: 14px;
    margin-right: 10px
}

.new_price {
    color: var(--button-color);
    font-size: 20px;
    font-weight: bold;
}

.product_button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--button-color);
    color: #fff;
}

.button_group {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_group input {
    padding: 4px 10px;
    margin: 0 10px;
    border-radius: 4px;
    text-align: center;
}

.product_quantity {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    line-height: 1;
    font-size: 14px;
    position: relative;
    width: 30px;
    height: 30px;
}

.product_quantity .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product_list.list ._col._col_4 {
    width: 100%;
}

.product_list.list ._col._col_4 .product_image {
    padding-top: 0%;
    height: 80px;
    width: 80px;
}

.product_list.list ._col._col_4 .product_image .probgimage {
    height: 100%
}

.product_list.list ._col._col_4 .product_con {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_list.list ._col._col_4 .product_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 10px);
    align-items: center;
}

.product_list.list ._col._col_4 .product_button {
    width: auto;
    padding: 8px 45px;
}

.product_list.list ._col._col_4 .button_group {
    width: 20%;
    margin-top: 0;
}

.product_list.list ._col._col_4 .button_group input {
    width: 100px;
}

.product_list.list ._col._col_4 .button_group.add {
    justify-content: center;
}

.product_list.list ._col._col_4 .product_price_group .product_total_price,
.product_list .product_content>.product_total_price {
    display: none;
}

.product_list.list ._col._col_4 .product_content>.product_total_price {
    display: block;
    width: 15%;
    text-align: center;
}

.no_data {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.overall_total {
    background-color: var(--button-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
}

.place_order_div {
    margin-top: 20px;
    text-align: center;
}

.place_order {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    background-color: var(--primary-color);
    color: #ffff;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border .4s, background-color .4s, color .4s;
}

.place_order:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.table {
    width: 100%;
    vertical-align: middle;
}

.table_secondary {
    --bs-table-bg: #e2e3e5;
    --bs-table-striped-bg: #d7d8da;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cbccce;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d1d2d4;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #cbccce;
}

.table>thead {
    vertical-align: bottom;
}

.table>tbody {
    vertical-align: inherit;
}

.cart_list .empty_cart {
    text-align: center;
    display: block;
}

.table_striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

.table td {
    text-align: center;
    border: 1px solid #000;
    vertical-align: middle;
}

.table td img {
    width: 70px;
    height: auto;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.cth thead tr th {
    text-align: center;
    background-color: var(--primary-color) !important;
    color: #fff;
}

.cth tbody tr td a {
    color: #000;
    display: inline-block;
}

.cr_cart_qty_plus_minus a {
    position: relative;
    width: 30px;
}

.cr_cart_qty_plus_minus a .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    vertical-align: middle;
}

.cr_cart_qty_plus_minus {
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cr_cart_qty_plus_minus>* {
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    text-align: center;
    font-size: 14px;
}

.cr_cart_qty_plus_minus a:first-child {
    border: 1px solid #000;
}

.cr_cart_qty_plus_minus input {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.cr_cart_qty_plus_minus a:last-child {
    border: 1px solid #000;
}

.cart_form {
    margin-top: 20px;
}

.customer_details {
    max-width: 800px;
    margin: auto
}

._form_row {
    margin: 0 -20px;
    font-size: 0;
}

._form_row ._col {
    padding: 0 20px
}

._col_2 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

._form_group {
    margin-top: 20px
}

._form_group label {
    font-size: 19px;
    display: block;
}

._form_group .form_control {
    padding: 8px 10px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 100%;
    border: 1px solid #e6e6e6;
    background-color: transparent;
    z-index: 9;
    position: relative;
}

._form_group .form_control.error_input {
    border: 1px solid #ff0000
}

.cart_summary {
    margin-top: 20px;
}

.cart_summary>* {
    padding: 15px;
    text-align: center;
    font-size: 19px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
}

.cart_summary>*:nth-child(odd) {
    background-color: var(--button-color);
    color: #fff;
}

.cart_btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.order_confirm_pdf {
    margin-top: 20px;
}

.cart_btns>* {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px;
    background-color: #198754;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: border .4s, background-color .4s, color .4s;
}

.cart_btns>*:hover {
    background-color: transparent;
    border: 1px solid #198754;
    color: #198754
}

.cart_coupon_code {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.cart_coupon_code a {
    text-align: center;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.coupon_code_form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.coupon_code {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
}

.coupon_code_submit {
    border: 1px solid transparent;
    padding: 5px 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    background-color: #198754;
    transition: border .4s, background-color .4s, color .4s;
}

.coupon_code_submit:hover {
    background-color: transparent;
    color: #198754;
    border: 1px solid #198754;
}

.coupon_code_clear {
    border: 1px solid transparent;
    padding: 5px 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    background-color: #dc3545;
    border-color: #dc3545;
    align-content: center;
    transition: border .4s, background-color .4s, color .4s;
}

.coupon_code_clear:hover {
    background-color: transparent;
    color: #dc3545;
    border: 1px solid #dc3545;
}

.coupon_code_form {
    display: none;
}

.error_text {
    font-size: 13px;
    margin-top: 5px;
    color: #ff0000;
}

.order_confirm_contanier {
    max-width: 1024px;
    margin: auto;
}

.product_list_row {
    margin: 0 -10px;
}

.product_list_row>* {
    display: inline-block;
    padding: 0 10px;
}

.product_list_left {
    width: 20%;
    font-size: 14px;
}

.product_list_left a {
    display: block;
    padding: 15px;
    color: #000;
    background-color: transparent;
    border-color: transparent;
    border-radius: 15px;
    transition: border-color .4s, background-color .4s, border-color .4s;
}

.product_list_left a.active,
.product_list_left a:hover {
    background: var(--button-color);
    color: white;
    border-color: var(--button-color);
    border-radius: 15px;
}

.product_list_right {
    width: 80%;
}