:root {
    --main-color: #232323;
    --btn-color: #2FA84F;
    --bg-color: #CCFFCC;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    color: var(--main-color);
}

.container {
    max-width: 1320px;
    padding: 0 60px;
    margin: auto;
}

.font_bold {
    font-family: 'poppinsbold';
}

.f_12 {
    font-size: 12px;
}



.f_16 {
    font-size: 16px;
}

.f_18 {
    font-size: 18px;
}

.f_30 {
    font-size: 30px;
}

.f_40 {
    font-size: 40px;
    line-height: 1.2;
}

.mt_10 {
    margin-top: 10px
}

.mt_20 {
    margin-top: 20px
}

.mt_30 {
    margin-top: 30px
}

.mt_40 {
    margin-top: 40px
}

.p_rea {
    position: relative;
}

.d_flex {
    display: flex;
}

.flex_d_row {
    flex-direction: row;
}

.flex_d_col {
    flex-direction: column;
}

.flex_d_row {
    flex-wrap: wrap;
}

.gap_15 {
    gap: 15px;
}

.d_block {
    display: flex;
}

.just_content_btw {
    justify-content: space-between;
}

.align_item {
    align-items: center;
}

.top_header {
    padding: 10px 0;
    background-color: var(--bg-color);
    height: auto;
    overflow: hidden;
    transition: height .4s, padding .4s;
}

.header {
    background-color: #fff;
}

.header_menu {
    padding: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.visi_hidd {
    visibility: hidden;
    opacity: 0;
}

.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.self-scrolled .header.sticky .top_header {
    height: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 7px 20px;
    background-color: var(--btn-color);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: background-color .4s, color .4s, border .4s;
}

.three_col_inner_a .btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 7px 10px;
    font-size: 13px;
}

.btn_trans {
    background-color: transparent;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.btn_light {
    background-color: var(--bg-color);
    padding: 7px 10px;
    color: #000;
    font-size: 12px;
    border-radius: 10px;
}

.blink {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.logo_a {
    display: inline-block;
}

.logo_a img {
    height: 60px;
    width: auto;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.self_no-touchevents .btn:hover {
    background-color: #fff;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.self_no-touchevents .btn_trans:hover {
    background-color: var(--btn-color);
    color: #fff;
    border: 1px solid transparent;
}

.menu ul {

    list-style: none;

    display: flex;

    flex-direction: row;
}

.menu ul li {
    margin-left: 15px;
}

.menu ul li a {
    padding: 8px 20px;
    display: inline-block;
    border-radius: 10px;
    background-color: transparent;
    color: var(--main-color);
    transition: color .4s, background-color .4s;
}

.self_no-touchevents .menu ul li a:hover,
.menu ul li a.active,
ul.main_menu li a.active {
    color: #fff;
    background-color: var(--btn-color);
}

.banner_row {
    padding: 40px 0 0 0;
}

.left_banner_col {
    width: 55%;
}

.slider {
    width: 45%;
    border-radius: 15px;
    overflow: hidden;
}

.banner_slider .swiper-slide {
    border-radius: 15px;
    overflow: hidden;
}

.three_cl_row {
    gap: 10px
}

.banner_slider .swiper-slide .bsz:after {
    content: '';
    padding-top: 70%;
    display: block;
}

._col_2 {
    width: 50%;
}

._col_3 {
    width: 33.33%;
}

.sec_pad {
    padding: 80px 0;
}

.sec_pad+.sec_pad {
    padding: 0 0 80px 0;
}

.three_col_inner_a .bsz:after {
    content: '';
    display: block;
    padding-top: 55%;
}

.three_col_inner_a:after {
    content: '';
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color .4s,
}

.three_col_inner_a:hover:after {
    background-color: rgb(0 0 0 / 20%);
}

.three_col_inner_content {
    padding: 20px;
}

.three_col_inner {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Video Overlay Css */
.overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 0.5s ease 0s, visibility 0.1s ease 0.5s;
    transition: opacity 0.5s ease 0s, visibility 0.1s ease 0.5s;
    visibility: hidden;
    z-index: 99999;
}

.overlay::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 1px;
}

.overlay iframe {
    border: 0 none;
    display: inline-block;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    vertical-align: middle;
}

.has-overlay .overlay {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: opacity 0.5s ease 0.1s, visibility 0.1s ease 0s;
    transition: opacity 0.5s ease 0.1s, visibility 0.1s ease 0s;
    visibility: visible;
}

.has-overlay .overlay iframe {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.video-overlay {
    overflow: hidden;
    white-space: nowrap;
}

.video-overlay .close {
    color: #eee;
    font-family: Arial;
    font-size: 50px;
    line-height: 1;
    position: absolute;
    right: 60px;
    top: 30px;
    transition: color .5s;
}

.video-overlay .close:hover {
    color: #AB358B;
}

.footer {
    position: relative;
    background-color: var(--main-color);
    background-image: url('/assets/css/images/footer_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
}

.footer::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a8;
}

.bottom_footer {
    padding: 10px 0;
    border-top: 1px solid #ffffff80;
}

.all_location {
    list-style: none;
    margin: 0 -10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom_location {
    padding: 20px 0;
    border-top: 1px solid #ffffff80;
}

.bottom_location li {
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid #fff;
}

.bottom_location li:first-child {
    border-left: none;
}

.footer_row {
    padding: 20px 0;
    gap: 25px;
    flex-wrap: wrap;
}

.footer_row ._col_4 {
    width: calc(25% - 25px);
}

.bottom_location li a {
    display: block;
    font-size: 13px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .4s;
}

.bottom_location li a:hover {
    border-bottom: 1px solid #fff;
}

.footer_logo {
    display: inline-block;

}

.footer_logo img {
    width: 100px;
    height: auto;
}

._col_4 {
    width: 25%
}

.quick_links li {
    margin-top: 10px;
    position: relative;
}

.quick_links li a {
    position: relative;
    color: #fff;
    padding-left: 25px;
    display: block;
}

.quick_links li a::before {
    content: '';
    position: absolute;
    background: url('/assets/css/images/rocket.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(22deg) brightness(104%) contrast(101%);
    transform: translateY(-50%);
}

._col_last.quick_links li a::before {
    content: none;
}

.quick_links li a span {
    border-bottom: 1px solid transparent;
    transition: border-bottom .4s;
}

.self_no-touchevents .quick_links li a:hover span {
    border-bottom: 1px solid #fff;
}

.quick_links._col_last li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quick_links._col_last li a {
    padding-left: 15px
}

.quick_links._col_last .fa-solid,
.social_media .fa-brands {
    height: 35px;
    width: 35px;
    background: var(--btn-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-width: 35px;
    border: 1px solid transparent;
    transition: background-color .4s, boder .4s;
}

.social_media {
    display: flex;
    align-items: center;
}

.social_media a {
    display: inline-flex;
    margin-right: 15px;
}

.self_no-touchevents .social_media a:hover .fa-brands {
    background-color: transparent;
    border: 1px solid var(--btn-color);
}

.text_center {
    text-align: center;
}

.four_col_inner {
    border: 1px solid var(--btn-color);
    background-color: rgb(47 168 79 / 8%);
    padding: 15px;
    border-radius: 15px;
    color: var(--btn-color);
    box-shadow: 0 0 14px 0px rgb(47 168 79 / 20%);
}

.four_col_inner img {
    width: auto;
    height: 170px;
    object-fit: contain;
}

.four_col_inner .btn {
    box-shadow: 0 8px 20px rgb(47 168 79 / 20%);
}

.four_cl_row ._col_4 {
    display: inline-flex;
    width: calc(25% - 12px);
}

.icon_grid_inner {
    padding: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    background-color: #ffffff;
}

.icon_grid_row ._col_3 {
    width: calc(33.33% - 10px);
}

.icon_grid_row ._col_2 {
    width: calc(50% - 10px);
}

.two_col_slider {
    background-color: #075c63;
    padding: 25px 0;
    position: relative;
    color: #fff;
    border-radius: 30px;
    position: relative;
}

.two_col_slider_row {
    display: flex;
    flex-wrap: wrap;
}

.two_col_slider_left {
    width: 16%;
}

.two_col_slider_right {
    width: 84%;
}

.two_col_slider_right .swiper-slide {
    width: 50%;
    padding: 0 15px;
}

.two_col_con {
    border: 2px solid var(--btn-color);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.two_col_img {
    position: relative;
}

.two_col_con .bsz:after {
    content: '';
    display: block;
    padding-top: 36%;
}

.two_col_content {
    padding: 10px;
}

.two_col_content_title {
    text-align: center;
    font-size: 24px;
    color: var(--btn-color);
    border-top: 2px solid var(--btn-color);
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 100px;
}

.two_col_content_title a {
    display: block;
}

.custom_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.next_arrow,
.prev_arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--btn-color);
    border: 1px solid transparent;
    color: #ffff;
    cursor: pointer;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_arrow:hover,
.prev_arrow:hover {
    background-color: #fff;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.two_col_slider_corner {
    position: absolute;
    width: 20%;
    height: 20%;
    background: #fff;
    left: 0;
    bottom: 0;
    border-radius: 0 30px 0 0;
}

.two_col_slider_corner:after {
    content: "";
    position: absolute;
    right: -60px;
    bottom: 0;
    height: 60px;
    width: 60px;
    border-bottom-left-radius: 50%;
    background-color: transparent;
    box-shadow: 0 30px 0 0 #fff;
}

.two_col_slider_corner:before {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    height: 60px;
    width: 60px;
    border-bottom-left-radius: 50%;
    background-color: transparent;
    box-shadow: 0 30px 0 0 #fff;
}

.faq_item {
    background-color: #f6f6f6;
    border: 1px solid #dee2e6;
    margin-top: 10px;
}

.faq_title {
    padding: 15px;
    display: block;
    position: relative;
}


.faq_content {
    display: none;
    padding: 15px;
}

.faq_title::after {
    position: absolute;
    content: "+";
    font-size: 1.1rem;
    right: 10px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    line-height: 27px;
    background: #192b54;
    color: #fff;
    text-align: center;
}

.faq_item.active .faq_title::after {
    content: "-";
}

.form_select {
    position: relative;
}

.form_select:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #032862;
    transform: translateY(-50%);
}

.burger_menu {
    position: relative;
    width: 25px;
    height: 20px;
    display: none;
    vertical-align: middle;
}

.burger_menu .lines {
    width: 100%;
    height: 3px;
    background-color: #000;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    transition: background-color 0.01s;
}

.burger_menu .lines:before,
.burger_menu .lines:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    content: '';
    background-color: #000;
    transition: transform 0.4s, background-color 0.4s;
}

.burger_menu .lines:before {
    top: -8px;
}

.burger_menu .lines:after {
    top: 8px;
}

.mobile_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #fff;
    transition: transform .4s;
    z-index: 9999;
    padding-top: 80px;
}

.mobile_nav li a {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.open_menu .burger_menu .lines {
    background-color: transparent;
}

.open_menu .mobile_nav {
    transform: translateX(0);
}

.open_menu .top_header {
    display: none;
}

.open_menu .burger_menu .lines:before,
.open_menu .burger_menu .lines:after {
    top: 0;
}

.open_menu .burger_menu .lines:after {
    transform: rotate(-45deg);
}

.open_menu .burger_menu .lines:before {
    transform: rotate(45deg);
}